<mat-card>
  <mat-card-header>
    <h1>Mis aplicaciones</h1>
  </mat-card-header>

  <mat-card-content style="text-align: center">
    <mat-grid-list [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)">
      <mat-grid-tile>
        <mat-card-content>
          <button mat-icon-button color="primary" routerLink="/game">
            <mat-icon>gamepad</mat-icon>
          </button>
          <div>3 en linea</div>
        </mat-card-content>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card-content>
          <button mat-icon-button disabled color="primary">
            <mat-icon>smart_toy</mat-icon>
          </button>
          <div>Smart Toy</div>
        </mat-card-content>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card-content>
          <button mat-icon-button disabled color="primary">
            <mat-icon>sports_basketbal</mat-icon>
          </button>
          <div>Basketball</div>
        </mat-card-content>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
