<mat-card>
  <mat-card-content style="text-align: center;">
    <h1 style="padding: 2rem">Tres en linea</h1>
  </mat-card-content>

  <!--  <mat-card-content style="text-align: center">-->
  <!--    <div *ngIf="playing" style="padding: 2rem">-->
  <!--&lt;!&ndash;      <h2>¡Tú 🧑 empiezas primero!</h2>&ndash;&gt;-->
  <!--      <div style="font-weight: 500; font-size: 1rem">¡Tú 🧑 empiezas primero!</div>-->
  <!--    </div>-->
  <!--  </mat-card-content>-->

  <mat-card-content>
    <mat-grid-list [cols]="breakpoint" [rowHeight]="breakpoint2+':'+breakpoint3" (window:resize)="onResize($event)">
      <mat-grid-tile>
        <div class="parent">
          <div *ngFor="let field of gameState; let i = index" (click)="makeHumanMove(i)">
            <div [class]="'div'+i">
              <div class="playing"
                   style="align-items: center; display: flex; height: 100%; justify-content: center; width: 100%;">
                {{field === 'X' || field === 'O' ? field : ''}}
              </div>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="6:2">
      <mat-grid-tile>
        <div style="text-align: center">
          <strong>X</strong>
          <!--          <div>Turno: 00:00</div>-->
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div style="text-align: center">
          <strong>O</strong>
          <!--          <div>Turno: 00:00</div>-->
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

  <mat-card-content *ngIf="!playing && winner">
    <mat-grid-list cols="1" rowHeight="9:2">
      <mat-grid-tile>
        <div *ngIf="!playing">
          <div style="font-weight: bold; font-size: 1.25rem">{{winner}}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="4:1">
      <mat-grid-tile>
        <div style="text-align: center">
          <button mat-raised-button color="primary" *ngIf="!playing" (click)="toggleGame(true)">Empezar juego</button>
          <button mat-raised-button color="warn" *ngIf="playing" (click)="toggleGame(false)">Reiniciar partida
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="4:1">
      <mat-grid-tile>
        <mat-slide-toggle color="primary" [(ngModel)]="computerFirst">🤖 El Robot empieza primero</mat-slide-toggle>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Nivel</mat-label>
          <mat-select [(ngModel)]="difficulty">
            <mat-option *ngFor="let item of dataLevels" [value]="item.value">{{item.text}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
