<mat-card>
  <mat-card-header>
    <h1>¿Olvidaste tu contraseña?</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" name="email" required />
        <mat-error>Ingrese un email válido</mat-error>
      </mat-form-field>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-footer>
    <button *ngIf="!loading" mat-raised-button color="primary" (click)="onSubmit()">Enviar enlace</button>
    <button *ngIf="loading" mat-raised-button color="primary" [disabled]="true">Enviando...</button>
  </mat-card-footer>
  <mat-card-footer>
    <div>Ya tengo una cuenta <a mat-button routerLink="/login">Iniciar sesión</a></div>
  </mat-card-footer>
</mat-card>
