<mat-toolbar color="primary" class="border-0">
  <mat-toolbar-row>
    <button role="button" mat-button routerLink="/">
      <mat-icon>grid_view</mat-icon>
      {{ title }}
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-divider class="bg-transparent"></mat-divider>

<mat-toolbar color="accent" class="border-0" >
  <button mat-button routerLink="/home" *ngIf="isAuthenticated"><mat-icon>home</mat-icon>Inicio</button>
<!--  <button mat-button routerLink="/login" *ngIf="!isAuthenticated">-->
<!--    <mat-icon>power_settings_new</mat-icon>-->
<!--    Login-->
<!--  </button>-->

  <span class="example-spacer"></span>
  <button mat-button *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Salir
  </button>

  <!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
  <!--      <mat-icon>menu</mat-icon>-->
  <!--    </button>-->
  <!--    <span>My App</span>-->
  <!--    <span class="example-spacer"></span>-->
  <!--    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
  <!--      <mat-icon>favorite</mat-icon>-->
  <!--    </button>-->
  <!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
  <!--      <mat-icon>share</mat-icon>-->
  <!--    </button>-->
</mat-toolbar>

<router-outlet> </router-outlet>
