<mat-card>
  <mat-card-content style="text-align: center">
    <h1 style="padding: 2rem">Inicio de sesión</h1>
  </mat-card-content>

  <mat-card-content>
    <form #loginForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [(ngModel)]="username" name="username" required />
        <mat-error>Ingrese un email válido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hidePwd ? 'password' : 'text'" [(ngModel)]="password" name="password" required>
        <button mat-icon-button matSuffix (click)="hidePwd = !hidePwd" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePwd">
          <mat-icon>{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-error *ngIf="loginValid === false" style="margin-bottom: 1rem">El usuario o la contraseña no es válido</mat-error>

      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid" (click)="onSubmit()">Entrar</button>
    </form>
  </mat-card-content>
</mat-card>
