/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "assets/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
//@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap-utilities";

@import "assets/resets";

body {
  margin: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  background-color: rgba(253, 63, 128,0.1);
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block !important;
}

mat-card-header {
  display: block !important;
  margin: 1rem;
}

mat-card-footer {
  margin: 1rem;
}

.example-spacer {
  flex: 1 1 auto;
}
